body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}
.sidenav>li{
    padding: 20px;
}
.box{
    display: flex;
    justify-content:flex-end;
}
.box>i{
    font-size: 50px;
    padding: 15px;
}
.info-box{
    position: relative;
    padding: 40px 0;
}
.info-boximg{
    position: absolute;
    top: -20px;
    left: 20px;
}
.info{
    justify-content: end;
}
.more_space{
    display: flex;
    align-items: center;

}
.infocard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgeq{
    position: absolute;
    width: 80%;
    height: 50%;
    top: -20px;
}
.card-image>img{
    height: 200px;
}
header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
  .titleinfo{
    width: 80%;
    position: absolute;
    top: -20px;
  }
  .up{
    position: relative;
  }
td{
    padding-left: 20px;
}